app/api/scan_tests/testing_stuff.py
app/data*
app/api/scan_tests/__pycache__/tester.cpython-38.pyc
.DS_Store
*__pycache__*
db.sqlite3
*.pyc 
__pycache__
__pycache__/
*/__pycache__/*
*/migrations
*migrations*
**/__pycache__/
server/app/env*
env/.env.staging
env/.env.dev
env/.env.prod
env/.env.prod.db
