db.sqlite3
.DS_Store

*__pycache__*
*.pyc 
__pycache__
__pycache__/
*/__pycache__/*
**/__pycache__/

env/.env.local
env/.env.dev
env/.env.prod
env/.env.stage
env/.env.remote
env/.env.prod.db
env/.env.client.dev
env/.env.client.prod


app/data*
app/static*
app/api/migrations/*_*.py

k8s/*/*-configs.yaml
k8s/prod/old_configs/*

app/chromedriver*

app/.cache*
app/.config*
app/.local*
app/.pki*
env/.env.client.dev
