app/api/utils/testing_stuff.py
app/data*
app/api/utils/__pycache__/tester.cpython-38.pyc
.DS_Store
*__pycache__*
db.sqlite3
*.pyc 
__pycache__
__pycache__/
*/__pycache__/*
**/__pycache__/
env/.env.local
env/.env.dev
env/.env.prod
env/.env.prod.db
app/static*
app/api/migrations/*_*.py
k8s/*/*-configs.yaml
