apiVersion: keda.sh/v1alpha1
kind: ScaledObject
metadata:
  name: celery-scaler
spec:
  scaleTargetRef:
    name: celery-scheduled-deployment
  cooldownPeriod:  300
  pollingInterval: 15
  minReplicaCount: 2
  maxReplicaCount: 15
  triggers:
    - type: metrics-api
      metadata:
        targetValue: "10"
        url: "https://api.cursion.dev/v1/ops/metrics/celery?queue=scheduled"
        valueLocation: "working_len"
        timeout: "20000"
