# high level django configs
SECRET_KEY = ask-for-this
CLIENT_URL_ROOT = http://localhost:3000
CLIENT_URL_ROOT = http://localhost:3000
API_URL_ROOT = http://localhost:8000
YELLOWLAB_ROOT = http://yellowlab.scanerr.io:8383
LIGHTHOUSE_ROOT = https://www.googleapis.com/pagespeedonline/v5/runPagespeed
DJANGO_ALLOWED_HOSTS = *
DEBUG = True


# admin credentials 
ADMIN_USER = fake               # example
ADMIN_PASS = dontTryIt1234      # example
ADMIN_EMAIL = fake@example.com  # example


# email credentials
EMAIL_HOST = smtp.gmail.com
EMAIL_PORT = 587
EMAIL_USE_TLS = True
EMAIL_HOST_USER = fake@example.com      # example
EMAIL_HOST_PASSWORD = 1234456677888     # example


# database configs
DB_HOST = db
DB_NAME = app
DB_USER = postgres
DB_PASS = supersecretpassword


# paths
CHROMEDRIVER = /usr/bin/chromedriver
CHROME_BROWSER = /usr/bin/google-chrome


# stripe keys
STRIPE_PUBLIC_TEST = 
STRIPE_PRIVATE_TEST = 


# google keys
GOOGLE_CRUX_KEY = 


# OAuth keys
GOOGLE_OAUTH2_CLIENT_ID = 
GOOGLE_OAUTH2_CLIENT_SECRET = 


# twilio credentials
TWILIO_SID = 
TWILIO_AUTH_TOKEN = 
TWILIO_NUMBER = 


# sendgrid configs
SENDGRID_API_KEY = 
DEFAULT_TEMPLATE = 
DEFAULT_TEMPLATE_NO_BUTTON = 
AUTOMATION_TEMPLATE = 



# slack credentials
SLACK_APP_ID = 
SLACK_CLIENT_ID = 
SLACK_CLIENT_SECRET = 
SLACK_SIGNING_SECRET = 
SLACK_VERIFICATION_TOKEN = 
SLACK_BOT_TOKEN = 


# s3 remote storage credentials
AWS_ACCESS_KEY_ID = 
AWS_SECRET_ACCESS_KEY = 
AWS_STORAGE_BUCKET_NAME = storage-scanerr   # example
AWS_S3_REGION_NAME = sfo3                   # example
AWS_S3_ENDPOINT_URL = https://sfo3.digitaloceanspaces.com               # example
AWS_S3_URL_PATH = https://storage-scanerr.sfo3.digitaloceanspaces.com   # example
AWS_LOCATION = static
AWS_DEFAULT_ACL = public-read



# OpenAI API key
GPT_API_KEY = sk-123450989776124ni989wed23e9dub # example



# Self Hosted Cred
CRED = ask-for-this-cred-before-deploying


